<?php
  class Secrets {
    const DB_HOST = '';
    const DB_NAME = '';
    const DB_USER = '';
    const DB_PASS = '';

    public static function getDbHost() { return self::DB_HOST; }
    public static function getDbName() { return self::DB_NAME; }
    public static function getDbUser() { return self::DB_USER; }
    public static function getDbPass() { return self::DB_PASS; }

  }
?>
